html {
  font-size: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;

  color: #fff;
  background: #000;

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;

  letter-spacing: 0.02em;

  color: #fff;
}

h1 {
  font-size: 7.2rem;
}

h2 {
  font-size: 3.9rem;
}

h3 {
  font-size: 3.4rem;
}

h4 {
  font-size: 2.9rem;
}

h5 {
  font-size: 2.3rem;
}

h6 {
  font-size: 1.9rem;
}

p {
  font-size: 1.8rem;
  line-height: 1.7em;
}

a,
a:hover,
a:focus {
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none;

  color: #fff;
}

button {
  border: 2px solid #fff;
  background: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 600px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 7px;
  }
}

.preloader {
  position: fixed;
  z-index: 100000;
  top: 0;
  right: 0;

  overflow: hidden;

  width: 100%;
  height: 100%;

  background: #000;
}

.preloader.hide-preloader {
  width: 0;

  -webkit-transition: 0.7s ease 0.3s;
  -o-transition: 0.7s ease 0.3s;
  transition: 0.7s ease 0.3s;
}

.preloader .spinner {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;

  -webkit-animation: spinner-pulse 0.6s infinite ease-in-out;
  animation: spinner-pulse 0.6s infinite ease-in-out;
  text-align: center;

  opacity: 1;
  border-radius: 100%;
  background-color: #000;
}

.preloader.hide-preloader .spinner {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;

  opacity: 0;
}

@-webkit-keyframes spinner-pulse {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);

    opacity: 0;
  }
}

@keyframes spinner-pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 0;
  }
}

.content-area {
  position: relative;
  left: 0;

  width: 100%;
}

.content-area .content-area-inner {
  position: relative;

  width: 100%;
  padding: 0 20px;
  overflow-x: hidden;
}

.content-area .content-area-inner section {
  max-width: 700px;
  margin: 0 auto 20vh auto;
}

.content-area .content-area-inner section:last-child {
  margin-bottom: 10vh;
}

.content-area .content-area-inner section h3.headline {
  margin-bottom: 1.4em;
  font-weight: 500;
}

.box {
  padding: 20px;
  padding-left: 20px;
  border-radius: 15px;
  background: #1d1d1d;
}

.glitch {
  font-weight: 500;
  font-size: 5rem;
  position: relative;
  text-shadow: 0.05em 0 0 #6ad7eb, -0.05em 0 0 #fe4028;
}

.highlight {
  color: #ff00c8;
}

.stand {
  font-size: 1.8rem;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background: #ffffff;
}
::selection {
  background: rgba(150, 0, 137, 0.7);
}
.content {
  max-width: 1250px;
  margin: auto;
  padding: 0px 18px;
}
.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky {
  border-radius: 0px;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list {
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background: rgba(63, 63, 63, 0.5);
}
.about {
  padding: 40px 0;
}
.about .title {
  font-size: 35px;
  font-weight: 700;
}
.about p {
  padding-top: 20px;
  text-align: justify;
}
.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}
.navbar.sticky .icon.cancel-btn {
  top: 10px;
}
@media (max-width: 868px) {
  body.disabledScroll {
    overflow: hidden;
  }
  .icon {
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }
  .icon.cancel-btn {
    display: none;
  }
  .icon.cancel-btn.show {
    display: block;
  }
  .icon.hide {
    display: none;
  }
  .navbar .menu-list {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.88);
    display: block;
    padding: 40px 0;
    text-align: center;
    clip-path: circle(0px at calc(100% - 55px) calc(0% + 50px));
    transition: all 0.3s ease;
  }
  .navbar.sticky .menu-list {
    clip-path: circle(0px at calc(100% - 55px) calc(0% + 35px));
  }
  .navbar .menu-list.active {
    clip-path: circle(75%);
  }
  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 23px;
  }
}

#about p {
  margin-bottom: 2.2em;
}

#about p:last-child {
  margin-bottom: 0;
}

#about .tools img {
  margin-top: 3rem;
}

#service .services-list {
  margin-bottom: 0;
  padding: 0;

  list-style: none;
}

#service .services-list li {
  display: block;
}

#service .services-list li button {
  font-size: 2.4rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3.4em;

  position: relative;

  display: block;

  width: 100%;
  margin-bottom: 1rem;
  padding-left: 15px;

  text-align: left;

  border: none;
  background: #1d1d1d;
  border-radius: 15px;
}

#service .services-list li button:after {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1.7rem;

  position: absolute;
  top: 50%;
  right: 18px;

  content: '\f078';
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  color: #fff;
}

#service .services-list li .well {
  min-height: 20px;
  margin-bottom: 0;
  padding: 0;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;

  border: none;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  box-shadow: none;
}

#work .showcase .item {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 22rem;
  margin: 0;
  margin-bottom: 6vh;

  cursor: pointer;

  border-radius: 15px;
  background: #111;
}

#work .showcase .item:last-child {
  margin-bottom: 0;
}

#work .showcase .item .info {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;

  width: 0;
  height: 100%;

  -webkit-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;

  color: #fff;
  background: #fff;
  background: -webkit-linear-gradient(
    left,
    rgba(28, 28, 28, 1) 1%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(28, 28, 28, 1) 1%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgba(28, 28, 28, 1) 1%,
    rgba(0, 0, 0, 0) 100%
  );

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f97db', endColorstr='#00000000',GradientType=1 );
}

#work .showcase .item:hover .info {
  width: 100%;
}

#work .showcase .item .info .container-mid {
  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;
  padding: 0 6rem;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#work .showcase .item .info .container-mid h5 {
  margin: 0;
  margin-bottom: 0.2em;

  -webkit-transform: translateX(4vh);
  -ms-transform: translateX(4vh);
  transform: translateX(4vh);

  opacity: 0;
  color: #fff;
}

#work .showcase .item:hover .info .container-mid h5 {
  -webkit-transition: 0.15s ease 0.15s;
  -o-transition: 0.15s ease 0.15s;
  transition: 0.15s ease 0.15s;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);

  opacity: 1;
}

#work .showcase .item .info .container-mid p {
  position: relative;

  margin-bottom: 0;
  padding-left: 1.4rem;

  -webkit-transform: translateX(4vh);
  -ms-transform: translateX(4vh);
  transform: translateX(4vh);
  letter-spacing: 0.025em;

  opacity: 0;
}

#work .showcase .item:hover .info .container-mid p {
  -webkit-transition: 0.15s ease 0.2s;
  -o-transition: 0.15s ease 0.2s;
  transition: 0.15s ease 0.2s;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);

  opacity: 1;
}

#work .showcase .item .info .container-mid p:before {
  position: absolute;
  top: 50%;
  left: 0;

  width: 0.6em;
  height: 1px;

  content: '';
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  background: #fff;
}

#work .showcase .item .background-image {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.featherlight .featherlight-content {
  max-height: 95%;
  padding: 0;

  border-bottom: 0;
  backdrop-filter: blur(3px);
  background: rgba(28, 28, 28, 0.7);
}

.featherlight .featherlight-content .featherlight-close-icon {
  font-size: 2.8rem;
  line-height: 2em;

  top: 4.5vh;
  right: 4vh;

  width: 2em;

  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);

  color: #fff;
  outline: none !important;
  background: none;
}

.featherlight .featherlight-content .work-lightbox {
  max-width: 900px;
  padding: 9vh 8vh;

  text-align: center;
}

.featherlight .featherlight-content .work-lightbox img {
  border-radius: 15px;
  margin: 0 auto 6vh auto;
}

.featherlight .featherlight-content .work-lightbox h3 {
  margin-bottom: 0.2em;
}

.featherlight .featherlight-content .work-lightbox p.subline {
  margin-bottom: 1.6em;

  letter-spacing: 0.025em;
}

.featherlight .featherlight-content .work-lightbox p {
  max-width: 660px;
  margin: 0 auto;
  margin-bottom: 2em;
}

.featherlight .featherlight-content .work-lightbox p:last-child {
  margin-bottom: 0;
}

#footer p {
  margin-top: 2em;
}

#footer p a {
  color: #fff;
  border-bottom: 1px solid #eee;
}
